.MovieWatchList {
  margin-top: 30px;
  padding-left: 40px;
  h2 {
    font-family: "MmdBold", Courier, monospace;
  }
}
.TvWatchList {
  margin-top: 40px;
  padding-left: 40px;
  h2 {
    font-family: "MmdBold", Courier, monospace;
  }
  .UserTvWatchList {
    margin-bottom: 20px;
  }
}
