.UpSinglePage {
  position: relative;
  .backgroundSingleMmovie {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .posterSingleMovie {
    position: absolute;
    width: 320px;
    height: 400px;
    top: 45px;
  }
}
